body {
  background-color: aliceblue;
}
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  text-align: center;
  border: 12px;
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  max-width: 600px;
  background-color: thistle;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.select {
  margin-top: 20px 30px;
  margin-bottom: 20px;
  font-size: 30px;
  border: 10px 10px;
  border-radius: 15px 15px;
  padding: 10px 10px;
  width: 80%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.city {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px dashed rgb(115, 116, 118);
  margin-bottom: 10px;
}

.city:last-child {
  border: none;
  margin-bottom: 0;
}

.time {
  font-size: 45px;
  align-self: flex-end;
  position: relative;
  margin-top: -47px;
  top: -45px;
}
.time small {
  font-size: 15px;
  vertical-align: middle;
  line-height: 36px;
}
.date {
  align-self: flex-start;
  color: rgb(115, 116, 118);
}
footer {
  text-align: center;
  font-size: 18px;
}
